# ==========================
# Environment files
# ==========================

.env
.env.*

!.env.example

# ==========================
# Runtime data
# ==========================

data/
logs/
backups/
repositories/

# ==========================
# Certificates
# ==========================

*.pem
*.key
*.crt
acme.json

# ==========================
# Databases
# ==========================

*.db
*.sqlite
*.sqlite3

# ==========================
# IDE
# ==========================

.idea/
.vscode/

# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db